[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
google-cloud-speech = "*"
google-cloud-aiplatform = "*"
google-api-python-client = "*"
google-cloud = "*"
google = "*"
google-api-core = "*"
ipython = "*"
install = "*"
google-cloud-texttospeech = "*"
markdown = "*"
beautifulsoup4 = "*"
vertexai = "*"
python-multipart = "*"
pandas = "*"
transformers = "*"
torch = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.11"
